<h1>Edit your Booking</h1>
<h2>Vehicle: <%= @booking.bike.brand %> <%= @booking.bike.model %></h2>
<%= simple_form_for [@booking.bike, @booking] do |t| %>
<%= t.input :start_date, input_html: { class: "datepicker"} %>
<%= t.input :end_date, input_html: { class: "datepicker"} %>
<%= t.submit "Confirm changes", class: "btn btn-primary" %>
<% end %>
