<div class="banner">
  <div class="container">
    <div class="cover">
      <h1>Discover Portugal's best Beers and Bikes.</h1>
      <%= form_tag bikes_path, method: :get, class: 'flex-form' do %>
        <i class="fas fa-motorcycle"></i>
        <%= text_field_tag :query,
          params[:query],
          class: "flex-form",
          placeholder: "Find a bike"%>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/body' %>

  <h4>Bikes <i class="fas fa-motorcycle"></i> </h4>
  <div class="row cards">
    <% @bikes.each do |bike| %>
      <div class="col-3">
        <div class="card-category-bikes">
          <%= link_to bike_path(bike) do %>
            <div class="card-bikes" style="width: 18rem;">
              <%= cl_image_tag bike.photo.key, class: "card-img-index"  %>
              <div class="card-body-bikes">
                <h6><%= "#{bike.brand} #{bike.model}" %></h6>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<%= render 'shared/map' %>
