<div class="banner">
  <div class="container">
    <div class="cover">
      <h1 id="home-heading">Discover Portugal's best Beers and Bikes.</h1>
      <div class="row">
        <div class="col-6">
          <div class="search-bike-index" class="">
            <%= form_tag bikes_path, method: :get,class: "form-inline"  do %>
              <div class="input-group search-input">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-motorcycle"></i></div>
                </div>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control form-control-lg",
                  placeholder: "Pick a Bike or a City..."
                %>
              </div>
              <%= submit_tag "Search", class: "btn btn-danger ml-2 btn-lg" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/body' %>
<%= render 'shared/map' %>
