<div class="row">
    <div class="cards-list justify-content-center">
      <% @bikes.each do |bike| %>
      <%= link_to bike_path(bike) do %>
      <div class="card" style="width: 18rem;">
      <%= cl_image_tag bike.photo.key, class: "card-img-top"  %>
        <div class="card-body">
          <h6><%= "#{bike.brand} #{bike.model}" %></h6>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
