<div class="container pt-5">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="search-bike-index" class="">
        <%= form_tag bikes_path, method: :get,class: "form-inline"  do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control form-control-lg",
            placeholder: "Find a bike"
          %>
          <%= submit_tag "Search", class: "btn btn-danger ml-2 btn-lg" %>
          <%= link_to bikes_path, class: "text-danger ml-2 lg" do %>
            <i class="far fa-times-circle"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row cards">
    <% @bikes.each do |bike| %>
      <div class="col-4">
        <div class="card-category-bikes">
          <%= link_to bike_path(bike) do %>
            <div class="card-bikes" style="width: 18rem;">
              <%= cl_image_tag bike.photo.key, class: "card-img-index"  %>
              <div class="card-body-bikes">
                <h6><%= "#{bike.brand} #{bike.model}" %></h6>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/map' %>

