<h1><strong><%= @bike.brand %> <%= @bike.model %></strong></h1>
<div>
  <div class="cards-list">
    <div class="card" style="width: 32rem;">
      <%= cl_image_tag @bike.photo.key, class: "card-img-top"  %>
      <div class="card-body">
        <ul>
          <li>Price: <%= @bike.price%></li>
          <li>Speed: <%= @bike.speed%></li>
        </ul>
        <%= link_to "Book Me Now!", new_bike_booking_path(@bike), class: "btn btn-primary" %>
        </div>
    </div>
  <div>
</div>
