<div class="min-vw-75 justify-content-center d-block">
  <div class="bike-show">
    <div class="row bg-white m-5 p-3 ">
      <div class="col-md bg-white m-5">
        <%= cl_image_tag @bike.photo.key, class: "card-img-top img-hover-zoom"  %>
      </div>
      <div class="col-sm m-5 p-5 text-center">
        <div class="row mb-5">
          <h2><strong><%= @bike.brand %> <%= @bike.model %></strong></h2>
        </div>
        <div class="row mb-3">
          <h5>Top Speed: <%= @bike.speed%> km/h</h5>
        </div>
        <div class="row mb-5">
          <h5>Rating: <strong>⭐️⭐️⭐️⭐️</strong></h5>
        </div>
        <div class="row mb-3">
          <h5>Price: <%= @bike.price%> <i class="fas fa-beer"></i><i class="fas fa-beer"></i></h5>
        </div>
        <div class="row mb-3">
          <h5 class='btn-lg btn-danger mt-5 rounded-pill'  onClick="document.getElementById('middle').scrollIntoView();">Book me</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-white m-5 align-items-center" id='middle'>
    <div class="col-sm m-5 border border-secondary rounded">
      <h3 class='text-center mt-3'>Bike Reservation</h3>
      <% if !@bike.rented %>
      <%= simple_form_for [@bike, @booking], html: { class: 'mx-auto d-block p-5' } do |f| %>
      <div class="col-sm p-5">
        <%= f.input :start_date, as: :date, html5: true, default: Date.today %>
      </div>
      <div class="col-sm p-5">
        <%= f.input :end_date, as: :date, html5: true, default: Date.today %>
      </div>
      <div class="p-5">
        <%= f.submit "Book Now", class: "btn btn-danger btn-lg btn-block" %>
      </div>
      <% end %>
      <% else %>
      <h3>Available in <%= @booking.end_date %></h3>
      <% end %>
    </div>
    <div class="col-sm m-5 rounded map-show">
      <h6><strong>Pickup Location:</strong> <%= @bike.address %></h6>
      <%= render 'shared/map' %>
    </div>
  </div>
  <div class="bike-show">
    <h3 class='p-3 mx-5'>View other Bikes:</h2>
    <div class="row cards mx-5">
        <% @bikes[20..28].each do |bike| %>
        <div class="col-4">
          <div class="card-category-bikes">
            <%= link_to bike_path(bike) do %>
              <div class="card-bikes m-5" style="width: 15rem;">
                <%= cl_image_tag bike.photo.key, class: "card-img-index"  %>
                <div class="card-body-bikes">
                  <h6 class="text-right"><%= "#{bike.brand} #{bike.model}" %></h6>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
