<div class="min-vw-75 justify-content-center d-block">
  <div class="row bg-white m-5 align-items-center p-3">
    <div class="col-sm bg-white m-5 ">
      <%= cl_image_tag @bike.photo.key, class: "card-img-top"  %>
    </div>
    <div class="col-sm bg-white m-5">
      <div class="col p-3">
        <h2><%= @bike.brand %> <%= @bike.model %></h2>
      </div>
      <div class="col">
        <h5 class="float-center">Top Speed: <%= @bike.speed%> km/h</h5>
      </div>
      <div class="col p-3">
        <h5 class="float-left">Price: <%= @bike.price%> <i class="fas fa-beer"></i><i class="fas fa-beer"></i> </h5>
        <div class="col">
          <h5 class="float-right">Rating <strong>⭐️⭐️⭐️⭐️</strong></h5>
        </div>
      </div>

    </div>
  </div>
  <div class="row bg-white m-5 align-items-center border border-secondary">
    <div class="col-sm bg-white m-5">
      <h5>Pickup Location</h5>
      <%= render 'shared/map' %>
    </div>
    <div class="col-sm bg-white m-5">
      <h3 class='text-center'>Bike Reservation</h3>
      <% if !@bike.rented %>
      <%= simple_form_for [@bike, @booking], html: { class: 'mx-auto d-block p-5' } do |f| %>
      <div class="col-sm bg-white p-5">
        <%= f.input :start_date, as: :date, html5: true, default: Date.today %>
      </div>
      <div class="col-sm bg-white p-5">
        <%= f.input :end_date, as: :date, html5: true %>
      </div>
      <div class="p-5">
        <%= f.submit "Book Now", class: "btn btn-danger btn-lg btn-block" %>
      </div>
      <% end %>
      <% else %>
      <h3>Available in <%= @booking.end_date %></h3>
      <% end %>
    </div>
  </div>
  <div class="container">
    <h3 class='pb-3'>View other Bikes</h2>
    <div class="row cards">
      <% @bikes[13..18].each do |bike| %>
        <div class="col-4">
          <div class="card-category-bikes">
            <%= link_to bike_path(bike) do %>
              <div class="card-bikes" style="width: 15rem;">
                <%= cl_image_tag bike.photo.key, class: "card-img-index"  %>
                <div class="card-body-bikes">
                  <h6 class="text-right"><%= "#{bike.brand} #{bike.model}" %></h6>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


